<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="UTF-8">
  <title>Scaffolded Editor</title>

  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

</head>
<body>
  <div class="container" ng-controller="ContentController">
    <div class="row">
      <div class="span8">

        <!-- <button class="btn" ng-click="putSection()">Save</button> -->
        <!-- <button class="btn" ng-click="getCookie('title')">Load</button> -->
        <div class="edit-in-place">
          <h1 class="clone"><span></span><br></h1>
          <textarea class="h1" ng-model="title" placeholder="Type in title">{{title}}</textarea>
        </div>

        <dl>
          <dt>Table Of Contents</dt>
          <dd>
            <ol type="i">
              <li ng-repeat="item in content" ng-animate=" 'animate' "><a href="#{{$index}}">{{item.heading}}</a></li>
            </ol>
          </dd>
        </dl>

        <div class="content" ui-sortable="sortable" ng-model="content">  

          <div id="{{$index}}" class="block" ng-repeat="item in content" ng-animate=" 'animate' ">
            <div class="handle" title="Drag to sort"><span></span><span></span><span></span></div>
            <div class="text-right">
              <a class="action" ng-click="delete($index)">&times;</a>
            </div>
            <div class="edit-in-place">
              <h2 class="clone"><span></span><br></h2>
              <textarea ng-model="item.heading" class="h2" placeholder="Type in title" autofocus>{{item.heading}}</textarea>
            </div>
            <div class="body">
              <div class="edit-in-place">
                <p class="clone"><span></span><br></p>
                <textarea class="p" ng-model="item.body" placeholder="Type in content">{{item.body}}</textarea>
              </div>
            </div>
          </div>


        </div>
        
        <p ng-click="putSection()" class="muted"><i class="icon-plus-sign"></i> Add new section</p>
      </div>
    </div>

  </div>
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-cookies.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

  <script src="js/angular-ui/ui-sortable/src/sortable.js"></script>
  <script src="js/angular-app/controllers.js"></script>
  <script src="js/autosize/jquery.autosize.js"></script>

  <script>
    $(document).ready(function() {
      /*
       * Prevent carriage returns on textarea
       */
      $('textarea').bind('keypress', function(e) {
        if ((e.keyCode || e.which) == 13) {
          return false;
        }
      });
    })
  </script>

  <script>
    /*
     * Edit-in-place: expanding textarea input technique
     * (info)[http://alistapart.com/article/expanding-text-areas-made-elegant]
     */
    function makeExpandingArea(container) {

      var area = container.querySelector('textarea');
      var span = container.querySelector('span');

      if (area.addEventListener) {
        area.addEventListener('input', function() {
          span.textContent = area.value;
        }, false);
        span.textContent = area.value;
      } else if (area.attachEvent) {
        // IE8 compatibility
        area.attachEvent('onpropertychange', function() {
          span.innerText = area.value;
        });
        span.innerText = area.value;
      }
      // Enable extra CSS
      container.className += " active";
    }

    var areas = document.querySelectorAll('.edit-in-place');
    var l = areas.length;
    while (l--) {
      makeExpandingArea(areas[l]);
    }
  </script>
  
</body>
</html>