/**
 *  Typography
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf; }

h1 {
  font-size: 2.986em;
  line-height: 1.1em;
  margin-top: 1em;
  margin-bottom: 1em; }

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.25em; }

p {
  line-height: 1.5em; }

abbr {
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 0.1em; }

ul, ol {
  line-height: 1.5em;
  padding-left: 0; }

blockquote {
  line-height: 1.5em; }



body {
  background: #eee;
}




* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*textarea.page-title {
  font-size: 2.986em !important;
  line-height: 1.1em;
  margin-top: 1em;
  margin-bottom: 1em; }*/

/*.block { padding: 0 20px; }*/
.block {
  padding: 0 15px 15px;
  margin: 10px 0;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(0,0,0,.1);
}
.block-add { display: none; }
.block.active { display: block !important; }
.block .action {
  visibility: hidden;
  /*float: right;*/
}
.block:hover .action { visibility: visible; }
.block.edit {
  border: 3px dashed #ddd;
}

.btn-group {
  margin-right: -50px;
}

.handle {
  width: 20px;
  cursor: pointer;
}
.handle span {
  display: block;
  width: 20px;
  height: 3px;
  margin-top: 2px;
  background: #eee;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

textarea {
  /*font-size: 1.5em !important;*/
  /*line-height: 1.2em !important;*/
  /*font-weight: bold;*/
  color: #303030 !important;
  border: none !important;
  width: 100%;
  padding: 0;
  box-shadow: 0 0 0;
  background: none;
  resize: none;
}
textarea:focus {
  box-shadow: 0 0 0;
}
textarea:hover {
  background: #f5f5f5;
}

.rte {
  padding: 10px;
  border: 3px dashed #ddd;
  background: #efefef;
}

.ui-sortable-helper {
  margin-left: 30px;
  padding: 0 20px;
  border: 1px solid #ccc;
  box-shadow: -5px 5px 10px rgba(0,0,0,.1);
  background: white;
}
.ui-sortable-helper .body,
.ui-sortable-helper .close {
  /*display: none;*/
  /*float:left;*/
}

.sortable-placeholder {
  display: block;
  height: 100px;
  border: 3px dashed #ccc;
  background: #ddd;
}

.animate-leave,
.animate-enter.animate-enter-active {
  -webkit-transition: 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -moz-transition: 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -ms-transition: 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -o-transition: 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  transition: 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  opacity: 1;
}
.animate-enter,
.animate-leave.animate-leave-active {
  opacity: 0;
}


/* EDIT IN PLACE */
textarea, 
.clone {
  margin: 0 !important;
  padding: 0 !important;
  outline: 0 !important;
  border: 0 !important;
}
.edit-in-place {
  position: relative !important;
  /*width: 600px;*/
  /*border: 1px solid #888;*/
  /*background: #fff !important;*/
}
.edit-in-place > textarea,
.edit-in-place > .clone {
  /*padding: 5px;*/
  background: transparent !important;
  /*font: 400 13px/16px helvetica, arial, sans-serif;*/
  /* Make the text soft-wrap */
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}
.edit-in-place > textarea.h1,
.edit-in-place > h1 {
  font-size: 2em !important;
  font-weight: bold;
  line-height: 1.5em !important;
}
.edit-in-place > textarea.h2,
.edit-in-place > h2 {
  font-size: 1.5em !important;
  font-weight: bold;
  line-height: 1.2em !important;
}
.edit-in-place > textarea.p,
.edit-in-place > p {
  /*font-size: 16px;*/
  /*line-height: 1;*/
}
.edit-in-place > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
      -ms-box-sizing: border-box !important;
          box-sizing: border-box !important;
  width: 100% !important;
  /* This height is used when JS is disabled */
  height: 100px !important;
}
.edit-in-place.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  /* Remove WebKit user-resize widget */
  resize: none !important;
}
.edit-in-place > .clone {
  display: none;
}
.edit-in-place.active > .clone {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}